name: Waka Readme

on:
  schedule:
    # Runs at 6am JST
    - cron: '0 21 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          // LOCALE: ja
          COMMIT_BY_ME: True
          SHOW_UPDATED_DATE: True
          SHOW_LINES_OF_CODE: False
          SHOW_PROFILE_VIEWS: False
          SHOW_COMMIT: True
          SHOW_DAYS_OF_WEEK: True
          SHOW_LANGUAGE: True
          SHOW_OS: False
          SHOW_PROJECTS: False
          SHOW_TIMEZONE: False
          SHOW_EDITORS: False
          SHOW_LANGUAGE_PER_REPO: True
          SHOW_SHORT_INFO: False
          SHOW_LOC_CHART: False
